
    <footer class="footer" th:fragment="footerfragment">
        <div class="footer_div1">
            <div class="footer_d">
                <div class="footer_span1_div1"><img src="img/elogo.jpg"></div>
                <div class="footer_span1_div2">문화체육관광부<br>역사박물관</div>
            </div>
        </div>
        <div class="footer_div2">
            <ul>
                <li>개인정보처리방침</li>
                <li>정보공개</li>
                <li>이용약관</li>
                <li>저작권정책</li>
            </ul>
            <br>
            <div class="footer_div2_div">00011 서울시 종로구 종로로 52 (16-5)<br>대표전화 : 02-0202-0202</div>
        </div>
        
    </footer>