<html layout:decorate="~{layout}">
<div layout:fragment="content">

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="p1_show.css">
</th:block>


    <div class="p1_text1">전시실 소장품</div>
    <div class="p1_img"><img src="img/show11.jpg">
        <div class="p1_text2">
            <div class="p1_text2_p1">
                <strong>주먹도끼</strong>
            </div>
            <div class="p1_text2_p2">
                <p>주먹도끼는 끝부분이 뾰족한 타원형 석기로, 뭉툭한 부분을 손으로 쥐고 여러 용도로 사용했던 구석기시대 도구입니다. 
                돌의 한쪽을 떼어 낸 뒤 반대편을 다시 떼어 내 지그재그 모양의 양면 날을 만들었습니다. 구석기인들은 미리 전체적인 
                모양을 생각하고 계획을 세워 원하는 형태의 주먹도끼를 제작했습니다. 주먹도끼는 서유럽, 중동, 아프리카, 영국, 인도,
                 동아시아에 이르는 넓은 지역에서 발견되며, 대략 170만 년 전부터 10만 년 전까지 사용되었습니다. 주먹도끼를 만든 
                 고인류는 호모 에렉투스(Homo erectus)로 알려져 있습니다.</p> <br>
                <p>이 주먹도끼는 연천 전곡리에서 출토된 것입니다. 1940년대 초반 미국 고고학자 모비우스(H. L. Movius)는 구석기문화를 유럽의 
                주먹도끼 문화권과 아시아의 찍개 문화권으로 분류하고, 동아시아 지역에는 주먹도끼가 없다고 주장했습니다. 그의 학설은 동아시아 
                지역이 주먹도끼가 발견되는 유럽・아프리카・중동 지역에 비해 문화적・인종적으로 뒤처졌다는 의미였습니다. 그러나 1978년 전곡리에서 
                동아시아 최초로 주먹도끼가 발견되자 세계 고고학계는 크게 놀랐고, 이러한 이분법적 이론은 폐기되었습니다.</p>
                <a href="/showroom1">
                    <div class="p1_text2_p2_div"><strong>목록</strong></div>
                </a>
            </div>
        </div>
    </div>



</body>
</html>