<html layout:decorate="~{layout}">


<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="showroom1.css">
</th:block>





<div layout:fragment="content">
    <div class="show_div1">
        <div class="show_div1_text">선사, 고대관</div>
    </div>

    <div class="show_sha"></div>
    <ul class="show_ul">
        <li><a href="#">구석기실</a></li>
        <li><a href="#">신석기실</a></li>
        <li><a href="#">청동기실</a></li>
        <li><a href="#">삼국시대실</a></li>
    </ul>
    <div class="div2">
        <p class="div2_p1"><a href="#">구석기실</a> : 전시실 소장품</p>
        <div class="div3_main">
            <div class="div3_main_div">
                <a th:href="@{p1_show}" target="_self">
                    <img src="img/show1.jpg">
                </a>
                <a th:href="@{p1_show}" id="div3_text">주먹도끼</a>
            </div>
            <div class="div3_main_div">
                
                    <img src="img/show2.jpg">
                
                <p href="#" id="div3_text">가로날도끼</p>
            </div>
            <div class="div3_main_div">
                
                    <img src="img/show3.jpg">
                
                <p href="#" id="div3_text">슴베찌르기</p>
            </div>
            <div class="div3_main_div">
                
                    <img src="img/show4.jpg">
                
                <p href="#" id="div3_text">돌날</p>
            </div>
            <div class="div3_main_div">
                
                    <img src="img/show5.jpg">
                
                <p href="#" id="div3_text">빗살무늬토기</p>
            </div>
            <div class="div3_main_div">
                
                    <img src="img/show6.jpg">
                
                <p href="#" id="div3_text">찍개</p>
            </div>
            <div class="div3_main_div">
                
                    <img src="img/show7.jpg">
                
                <p href="#" id="div3_text">밀개</p>
            </div>
        </div>
    </div>



</body>
</html>